.img1{
    height: 120px;
}
hr{
    color: blue;
    background-color: blue;
    border-color: blue;
}
table{
    text-decoration-style: dotted;
    text-align: right;
    color: blue;
    font-style: italic;
}
h3{
    text-align: center;
    color: blue;
    font-style: oblique;
}
.main{
    background-color: aquamarine;
    margin: 0px;
    height: 700px;
    margin-right: 0px;
}
.h11{
    margin: 0px;
    text-align: center;
    color: blue;
}
body{
    margin: 0px;
}
.g{
    font-size: larger;
    font-style: oblique;
}
span{
    font-size: larger;
    font-style: oblique;
}
.div1{
    display: inline-block;
    margin: 80px 80px;
}
.h22{
    position: relative;
    top: 350px;
    left: 200px;
    color: blue;
    font-weight:5rem;
}
.h55{
    margin-right: 0px;
    font-style: oblique;
    color: blue;
    text-align: center;
    position: relative;
    top: 100px;
    bottom: 10px;
    line-height: 1;
    font-weight:large;


}
.main3{
    width: 50%;
    background-color: white;
    position: relative;
    left: 0px;
    margin-top: 300px;
}
.main4{
    position: relative;
    top: 200px;
}
.img3{
    width: 20%;
    height: 20%;
    float: left;
    margin: 0px 50px 50px;
}
.hr1{
    margin: 0px;
}

  .h44{
    margin: 0px auto 0px auto;
  }
  
  .news{
    font-weight: 10rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #3498db;
    width: 50%;
    margin: 50px 0px 0px 50px;
  }
  .h222{
    color:blue;
  }
  .div1 {
    background: #C8FFE0;
    background-image: -webkit-linear-gradient(top, #C8FFE0, #C8FFE0);
    background-image: -moz-linear-gradient(top, #C8FFE0, #C8FFE0);
    background-image: -ms-linear-gradient(top, #C8FFE0, #C8FFE0);
    background-image: -o-linear-gradient(top, #C8FFE0, #C8FFE0);
    background-image: linear-gradient(to bottom, #C8FFE0, #C8FFE0);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    text-shadow: 1px 1px 3px white;
    font-family: Arial;
    color: #4D2DB7;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .div1:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }